h1 {
    font-size: 30px;
    text-align: center;
    color:teal;
}

.card{
    height: 200px;
    width:200px;
    float: left;
    margin-top: 20px;
    margin-right: 20px;
}

#one{
    background-color: red;

}
#two{
    background-color:royalblue;

}
#three{
    background-color:turquoise;

}
#four{
    background-color:yellow;

}
#five{
    background-color: green;

}
#six{
    background-color:indigo;

}

span {

    text-align: right;
}


img{
    height: 50px;
    width: 50px;
}

#logo{
    font-size: 30px;
    color: red;
    
}

#social{
    text-align: right;
    margin-top: -60px;
}

#first{
    height: 400px;
    width: 400px;
    background-color:lawngreen;  
    display: inline-block; 
    left: 40px;
    position: relative;
}

#second{
    height: 200px;
    width: 200px;
    background-color: royalblue;
    left: 40px;
    top: 80px;
    position: absolute;
}

#animate {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: indigo;
    animation:ball 5 10s infinite;
    position: relative;
}

@keyframes ball {
    0% {top: 0%; left :0%}
    25% {top:30%; left: 10%;}
    50% {top:0% ; left:30% }
    75% {top:30% ; left:60%}
    100% {top:0% ; left:90%}
    
}